$white-color: #FFFFFF;
$green-light-color: #99CC00;
$green-medium-color: #83BC0D;
$green-strong-color: #65BD00;
$background-color: #0f0e0f;
$border-color: rgba(#F5F6FA, .14);
$danger-color: #FF0000;
$grey-color: #3F4246;
$background-grey-color: #212529;

$roboto-font: 'Roboto', Arial, Helvetica, sans-serif;

$main-font: 500 15px/1.2 $roboto-font; 